%h1.text-center Listing users
.table-responsive
  %table.table
    %thead
      %tr
        %th Email
        %th Name
        %th Lastname
        %th Docid
        %th Username
        %th Pin
        %th Role
        %th
        %th
        %th

    %tbody
      - @users.each do |user|
        %tr
          %td= user.email
          %td= user.name
          %td= user.lastname
          %td= user.docid
          %td= user.username
          %td= user.pin
          %td= user.role
          %td.btn-toolbar
            .btn-group
              = link_to 'Show', user, class: "btn btn-raised btn-info"
              = link_to 'Edit', edit_user_path(user), class:"btn btn-raised btn-success"
              = link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-raised btn-danger"

%br
%p= will_paginate @users, renderer: BootstrapPagination::Rails 
= link_to 'New User', new_user_path, class:"btn btn-raised btn-primary"
