= form_for @order,builder: BootstrapFormBuilder do |f|
  = f.errors
  - if current_user.waiter?
    = f.number_field :pinwaiter, value: current_user.pin
  - else
    = f.number_field :pinwaiter
  .form-group
    = f.collection_select(:table_id, Table.all, :id, :name, {}, class: "form-control")
  = f.submit 'Save'
