.text-center
    %p= will_paginate @products, renderer: BootstrapPagination::Rails  
- @products.each do |product|
    .col-md-6
        .card.inline-block.bottom-space.big-padding
            = image_tag(product.avatar.url, alt: "Product: #{product.name}", class: "img-responsive")
            .card-block
                %h4.card-title.big 
                    = product.name
                %p.card-text
                    %b 
                        Description
                    = product.description
                %p.card-text
                    %b 
                        Price
                    = product.price
                %p.card-text
                    %b 
                        Type
                    = @typeProducts.find(product.type_product_id).name
%br



