%h1.text-center Total product 
.col-md-5
  -if !@product.nil?
    %h2
      = @product.name
    = image_tag @product.avatar.url, class: "img-responsive"
  - if current_user.admin? or current_user.chef?
    = form_tag(total_products_path, {:method => :get}) do
      .form-group
      = select_tag :product_id, options_from_collection_for_select(Product.all, "id", "name"), include_blank: "Select a product", :onchange => "this.form.submit();", class: "form-control" 
  %br
  = link_to "Back", :back, class:"btn btn-raised btn-default"
  -if !@product.nil? 
    = link_to 'New Ingredient', new_total_product_of_path(@product), class:"btn btn-raised btn-primary"
  -else
    = link_to 'New Total product', new_total_product_path, class:"btn btn-raised btn-primary" 
.col-md-7
  - if !@total_products.empty?
    .table-responsive
      %table.table
        %thead
          %tr
            -if @product.nil?
              %th Prouct names
            %th Ingredient names
            %th

        %tbody
          - @total_products.each do |total_product|
            %tr
              -if @product.nil?
                %td= @products.find(total_product.product_id).name
              %td= @ingredients.find(total_product.ingredient_id).name
              %td.btn-toolbar
                .btn-group
                  = link_to 'Delete', total_product, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-raised btn-danger"
  - else
    -if !@product.nil?
      .alert.alert-dismissible.alert-danger
        %h2
          = @product.description
  %p= will_paginate @total_products 



  