%h1.text-center Listing products
- if current_user.chef? or current_user.admin? 
  = link_to 'New Product', new_product_path, class:"btn btn-raised btn-success"
- @products.each do |product|
  .card.no-float.inline-block.bottom-space.big-padding
    = image_tag product.avatar.url(:medium)
    .card-block
      %h4.card-title.big 
        = product.name
      %p.card-text
        = product.description
        = product.price
        = @typeProducts.find(product.type_product_id).name
      - if current_user.chef? or current_user.admin? 
        %td.btn-toolbar
          .btn-group
            = link_to 'Show', product, class:"btn btn-raised btn-info"
            = link_to 'Edit', edit_product_path(product), class:"btn btn-raised btn-success"
            = link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-raised btn-danger"
%p= will_paginate @products 
%br

