%h1.text-center Listing products
- if current_user.chef? or current_user.admin? 
  = link_to 'New Product', new_product_path, class:"btn btn-raised btn-success"
- @products.each do |product|
  .panel.panel-primary.ui-widget-content.no-float.bottom-space.big-padding
    .panel-heading
      %h1.text-center.big 
        = product.name
    .panel-body
      .col-md-5
        = image_tag product.avatar.url, class: "img-responsive"
      .col-md-7
        %p
          %b Name:
          = product.name
        %p
          %b Description:
          = product.description
        %p
          %b Price($COP):
          = product.price
        %p
          %b Type:
          = @typeProducts.find(product.type_product_id).name
        - if current_user.chef? or current_user.admin? 
          %td.btn-toolbar
            .btn-group
              = link_to 'Show', product, class:"btn btn-raised btn-info"
              = link_to 'Edit', edit_product_path(product), class:"btn btn-raised btn-success"
              = link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-raised btn-danger"
%p= will_paginate @products, renderer: BootstrapPagination::Rails 
%br

