<!DOCTYPE html>
<html lang="en">
<head>
  <title>Restaurant</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "partials/nav" %>
  <div  class="alert alert-danger" style="<%= "display: none;" if alert.nil?  %>">
    <p><%= alert %></p>
  </div>
  <div class="alert alert-success" style="<%= "display: none;" if notice.nil? %>">
    <p><%= notice %></p>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <%= yield %>
    </div>
    <div class="col-md-1"></div>
  </div>
</body>
</html>
